<top-bar></top-bar>
<StackLayout>
    <GridLayout rows="*,*,4*" columns="*,*" class="card">
            <Button  row="0" col="0"[text]="'งานที่เสร็จสมบูรณ์: '+taskComplete.length" textAlignment="center" class="header"
                 width="200" height="150"  (tap)="completed()">
            </Button>
            <Button   row="0" col="1"[text]="'งานที่รอดำเนินการ: '+task.length" textAlignment="center" class="header"
                 width="200" height="150"  (tap)="pending()">
            </Button>
    <Label  row="1"  colSpan="2" text="งานในสัปดาห์หน้า" textWrap="true" class="heading"></Label>
    <ListView row="2" colSpan="2" [items]="tasks" class="list-group" separatorColor="transparent" height="100%">
        <ng-template let-item="item" let-i="index">
            <StackLayout>
                <CardView radius="25" ripple="true">
                    <GridLayout rows="*,*,*" columns="*,40" class="list-card">
                        <Label class="header" row="0" col="0" [text]="item.name" (tap)="toDetail(item.name)"></Label>
                        <Label class="duedate" row="1" col="0" colSpan="2" (tap)="toDetail(item.name)"
                            [text]="convertDatetime(item.due_date)" horizontalAlignment="left">
                        </Label>
                        <Label class="{{ item.overdue ? 'overdue':'countdown' }}" row="2" col="0" colSpan="2" 
                            (tap)="toDetail(item.name)" [text]="countdown(item.due_date,item.id)">
                        </Label>
                    </GridLayout>
                </CardView>
            </StackLayout>
        </ng-template>
    </ListView>
    </GridLayout>
</StackLayout>
